<h1>{{examplecode.title}}</h1>
<h1> code</h1>
<pre>{{examplecode.code}}</pre>
<form action="/variablesC/{{ examplecode._id }}/submit" method="POST">
  <p>your answer</p>
  <textarea name="userCode" rows="10" cols="20"></textarea>
  <button type="submit">Submit</button>
</form>
<p>{{ message }}</p>